body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #eef5db;
    margin: 20px;
}

.container{
    padding:0;
    margin-top: 20px;
}


h1{
    text-align: center;
    margin-bottom: 15px;
}

.title{
    background-color: #c7efcf;
    margin:0;
}

.p-3 {
    padding: $spacer !important;
}

/* button */

.btn-outline-primary{
    background-color: #c7efcf;
    color: black;
    border-color: #c7efcf;
}

.btn-outline-primary:hover {
        color: black;
        background-color: #8980f5;
        border-color: #8980f5;
        color: black;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle{
    background-color: #eef5db;
    border-color: #eef5db;
}

.btn-outline-primary.focus, .btn-outline-primary:focus{
    box-shadow:none ;
}

button a{
    color: black;
}

.add a:hover{
    text-decoration: none;
    color: black;
}

button img{
    vertical-align:middle;
    padding-right: 10px;
}

.addbutton{
    text-align: right;
    margin-top: 20px;
}

.returnbutton{
    text-align: center;
}

/* form */

.formcolor{
    background-color: #eef5db;
}

/* table */
.table-responsive{
    background-color: #fff;
    padding:0;
}

.theadcolor{
    background-color: #c7efcf;
    width: 100%;
}

.table td, .table th{
    vertical-align: middle;
}

