body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #eef5db;
   
}

.container{
    padding:0;
    margin: auto;
}


h1{
    text-align: center;
    margin-bottom: 15px;
}

.title{
    background-color: #c7efcf;
    margin:0;
}

.p-3 {
    padding: $spacer !important;
}

/* button */

.btn-outline-primary{
    background-color: #c7efcf;
    color: black;
    border-color: #c7efcf;
}

.btn-outline-primary:hover {
   color: black;
   background-color: #8980f5;
   border-color: #8980f5;
   color: black;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle{
    background-color: #eef5db;
    border-color: #eef5db;
}

.btn-outline-primary.focus, .btn-outline-primary:focus{
    box-shadow:none ;
}


.add a:hover{
    text-decoration: none;
    color: black;
}

a img{
    vertical-align:middle;
}

.addbutton{
    text-align: right;
    margin-top: 20px;
}

.returnbutton{
    text-align: center;
}

/* form */

.formcolor{
    background-color: #eef5db;
}


/* table */
.table-responsive{
    background-color: #fff;
    padding:0;
}

.table{
    margin: 0;
}

.theadcolor{
    background-color: #c7efcf;
    width: 100%;
}

.table td, .table th{
    vertical-align: middle;
    margin-bottom: 0;
}

@media (max-width: 500px) {
	
	.responsive-table-line td:before { content: attr(data-title); }
	
	.responsive-table-line table, 
	.responsive-table-line thead, 
	.responsive-table-line tbody, 
	.responsive-table-line th, 
	.responsive-table-line td, 
	.responsive-table-line tr { 
	display: block; 
	}
	 
	.responsive-table-line thead tr { 
    display:none;
	}
	
	.responsive-table-line td { 
	position: relative;
	padding-left: 50% !important; 
	white-space: normal;
    text-align:center; 
    vertical-align: middle;
	}
	 
	.responsive-table-line td:before { 
    position: absolute;
    top: 0px;
    left: 0px;
	width: 45%; 
	height:100%;
	overflow:hidden !important;
	background-color:#c7efcf;
    
    }


    td[data-title=ID]{
        border-top: 0.5px solid black ;
        }
    


    td[data-title=ID]::before,
    td[data-title=Date]::before,
    td[data-title=Etage]::before,
    td[data-title=Position]::before,
    td[data-title=Puissance]::before,
    td[data-title=Marque]::before,
    td[data-title=Modifier]::before,
    td[data-title=Supprimer]::before{
        vertical-align: middle;
        text-align: center;
        padding: 0.75rem;
    }
}

/* modal */
#modal{
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color: rgb(0,0,0, 0.45);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#modal.hidden{
    display:none;
}

#modal_dialog{
    width:70%;
    max-width: 640px;
    padding: 40px;
    background-color: white;
    min-height: 120px;
}

.modal_text{
    text-align: center;
}

#modal_btn_no{
    margin-right: 20px;
}

#modal_area_btn{
    text-align: center;
}

.btn-danger{
    background-color: #fe5f55;
    border-color: #fe5f55;

}

.main{
    margin: auto;
}

.echo {
margin:0;
}

nav img{
    margin-right: 10px;
}


.navbar{
    margin: 0;
    background-color: #c7efcf;
}

main{
    margin-top: 25px;
}