body{
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: #eef5db;
    margin: 20px;
}

.container{
    padding:0;
}


h1{
    text-align: center;
    margin-bottom: 15px;
}

.title{
    background-color: #c7efcf;
    margin:0;
}

.p-3 {
    padding: $spacer !important;
}

/* button */

.btn-outline-primary{
    background-color: #c7efcf;
    color: black;
    border-color: #c7efcf;
}

.btn-outline-primary:hover {
   color: black;
   background-color: #8980f5;
   border-color: #8980f5;
   color: black;
}

.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-outline-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show > .btn-outline-primary.dropdown-toggle{
    background-color: #eef5db;
    border-color: #eef5db;
}

.btn-outline-primary.focus, .btn-outline-primary:focus{
    box-shadow:none ;
}


.add a:hover{
    text-decoration: none;
    color: black;
}

a img{
    vertical-align:middle;
}

.addbutton{
    text-align: right;
    margin-top: 20px;
}

.returnbutton{
    text-align: center;
}

/* form */

.formcolor{
    background-color: #eef5db;
}



/* table */
.table-responsive{
    background-color: #fff;
    padding:0;
}

.table{
    margin: 0;
}

.theadcolor{
    background-color: #c7efcf;
    width: 100%;
}

.table td, .table th{
    vertical-align: middle;
    margin-bottom: 0;
}

@media (max-width: 500px) {
	
	.responsive-table-line td:before { content: attr(data-title); }
	
	.responsive-table-line table, 
	.responsive-table-line thead, 
	.responsive-table-line tbody, 
	.responsive-table-line th, 
	.responsive-table-line td, 
	.responsive-table-line tr { 
	display: block; 
	}
	 
	.responsive-table-line thead tr { 
    display:none;
	}
	
	.responsive-table-line td { 
	position: relative;
	padding-left: 50% !important; 
	white-space: normal;
	text-align:center; 
	}
	 
	.responsive-table-line td:before { 
    position: absolute;
    top: 0px;
    left: 0px;
	width: 45%; 
	padding-right: 15px; 
	height:100%;
	overflow:hidden !important;
    text-align:center;
    vertical-align: center;
	background-color:#c7efcf;
    padding:2px;
    
    }

    td[data-title=ID],
    td[data-title=Date],
    td[data-title=Etage],
    td[data-title=Position],
    td[data-title=Puissance],
    td[data-title=Marque],
    td[data-title=Modifier]{
        border-bottom: 1px solid grey;
        text-align: center;
    }
    td[data-title=ID]{
        border-top: 4px solid black ;
        }
	
	}